body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.follow_icon {
    list-style-type: none;
}

#chef_table {
    margin: 50px;
    margin-top: 20;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    line-height: 30px;
}

::-webkit-scrollbar {
    background: transparent;
}


/* dataTable style */

tbody tr.selected td {
    background-color: #c1cbdfd5;
}

.column-middle {
    text-align: center !important;
}


/* nav-bar */

.nav-item {
    border-right: 1px solid #ddd;
    padding: 0px 5px 0px 5px;
    margin: 0px 5px 0px 5px;
}

.nav-item .active {
    border-bottom: 1px solid rgb(229, 165, 165);
}


/* button style */

.submit-btn {
    border-radius: 8px;
    margin-right: 10px;
    cursor: pointer;
}

.submit-btn:hover {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}

.btn-primary {
    border-color: #3f51b5;
    background-color: #3f51b5;
    color: #ffffff;
    outline: none;
    padding: 3px 9px;
    font-size: 14px;
}

.btn-primary:hover {
    background-color: #3f51b5 !important;
    border-color: #3f51b5 !important;
    outline: none !important;
    box-shadow: none;
}